@import "/stylesheets/reset.css";
@import "/stylesheets/variables.css";

.hero__background {
  background-color: #EDFBFF; 
  width:  100%;
  height: 95%;
}
.container {
  /* border: 1px solid aqua; */
  margin: 0 auto;
  max-width: 91.5%;
}
section.wrapper {
  padding: 50px 38px 0 31px;
}
img.logo {
  width: 160px;
}
.hero__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.hero__header-button {
  /* background: var(--verypalecyan); */
  /* padding: 14px 56px; */
  background-color: white;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 35px;
  box-shadow: 0px 2px rgba(125,133,140,0.22);
  margin: -9px 0 0 0;
}
p.btn {
  /* text-align: center; */
  padding-top: 14px;
  color: var(--verydarkycyan);
  font-family: var(--opensansfont);
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
.hero {
  background: url(/images/bg-hero-desktop.svg);
  /* background-color: #EDFBFF; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 90px;
}
.hero-col-1,
.hero-col-2 {
  width: 50%;
}
.hero-col-1 {
  padding: 95px 75px 0 0;
}
.hero-col-1 h1 {
  color: var(--verydarkycyan);
  font-family: var(--poppinsfont);
  font-size: 40px;
  font-weight:600;
}
.hero-col-1 p {
  color: var(--verydarkycyan);
  font-family: var(--opensansfont);
  font-size: 16px;
  font-weight: 400;
  padding-top: 26px;
  line-height: 1.2;
}
.hero-col-1 button {
  color: #ffffff;
  border-radius: 50px;
  height: 54px;
  width: 256px;
  background-color: var(--pink);
  border: none;
  margin-top: 20px;
}
.hero-col-2 {
  margin-top: -8px;
  margin-right: 20px;
}
img.hero-col__img {
  width: 560px;
}

/* End hero section */
.body {
  margin-top: 78px;
}
.body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
img.row-img {
  width: 440px;
}
